.App {
  margin: 2em;
}

.split-header-container {
  position: relative;
  height: 400px;
}

.split-image {
  position: absolute;
  width: 100%;
  height: inherit;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: all .3s cubic-bezier(0, 0.51, 0.23, 0.95);
  padding: 1em;
}

.split-image.fullscreen {
  cursor: default;
}

.close-button {
  background-color: rgba(255, 2551, 255, .5);
  cursor: pointer;
  display: none;
}

.fullscreen .close-button {
  display: block;
}

.right {
  text-align: right;
}

.left .close-button {
  float: left;
}

.right .close-button {
  float: right;
}

/* balanced split */
.left-split {
  clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
}

.right-split {
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
}


/* left split */
.left-split-left {
  clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
}
.right-split-left {
  clip-path: polygon(70% 0, 100% 0, 100% 100%, 50% 100%);
}

.left-split-left.fullscreen {
  clip-path: polygon(0 0, 130% 0, 100% 100%, 0 100%);
}
.right-split-left.fullscreen {
  clip-path: polygon(130% 0, 130% 0, 100% 100%, 100% 100%);
}


/* right split */
.left-split-right {
  clip-path: polygon(0 0, 50% 0, 30% 100%, 0 100%);
}
.right-split-right {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 30% 100%);
}

.left-split-right.fullscreen {
  clip-path: polygon(0 0, 0 0, -30% 100%, -30% 100%);
}
.right-split-right.fullscreen {
  clip-path: polygon(0 0, 100% 0, 100% 100%, -30% 100%);
}
